# Node modules
node_modules/

# Build output
baytech.cloud/
dist/

# Development
.vite/
.cache/

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db
.DS_Store

# Wrangler
.wrangler/
